<div class="box-all">
    <div class="box">
        <div class="formulario">

            <h1 class="underline-effect"> Entre em contato!</h1>
            <form action="mailto:jessicasnevess@gmail.com" method="post" enctype="text/plain">
                <label for="name">Seu nome</label>
                <input type="text" id="name" name="name" placeholder="Digite o seu nome" required><br><br>

                <label for="email">Seu e-mail</label>
                <input type="email" id="email" name="email" placeholder="Digite o seu e-mail" required><br><br>

                <label for="message">Sua mensagem</label><br>
                <textarea id="message" name="message" rows="4" cols="50" placeholder="Digite a sua menssagem"
                    required></textarea><br><br>

                <input class="enviar" type="submit" value="Enviar">
            </form>

        </div>
        <div class="imagem">
            <img class="wave-frame" src="../../../assets/ia-img.png" alt="" >
        </div>
    </div>
</div>