<div class="box-all">
    <nav class="nav">
        <div>
            <h1>&lt;<span>Jéssica</span>/&gt;</h1>
        </div>
        <div class="links">
            <a class="underline-effect" href="">Sobre mim</a>
            <a class="underline-effect" href="">Contato</a>
        </div>
    </nav>
    <section>
      <h1 class="hello typing-text">{{ currentText }}|</h1>
    <h1 class="jessica">Eu me chamo <br> Jéssica Neves/</h1>
    <div class="botao">
        <p class="animated-button">Meus projetos</p>
        <img src="../../../assets/seta.svg" alt="seta" class="material-icons" width="24px">
    </div>  
    </section>
    
</div>