<div class="box-all">
    <div class="sobre-mim">
        <div>
            <img class="wave-frame" src="../../../assets/jessica.png" alt="" width="200px">
        </div>
        <div class="content">
            <h1>Olá, eu sou Jéssica Neves</h1>
            <h1 class="typing-text">{{ currentText }}|</h1>
            <p>- Sou estudante de Análise e Desenvolvimento de Sistemas pelo Embarque Digital e aspirante a
                Desenvolvedora
                Fullstack. <br>- Tenho inglês
                avançado, conquistado através de estudos autônomos com nota C1 no teste de nivelamento TOEFL ITP,
                e estou pronta para enfrentar desafios e contribuir significativamente no desenvolvimento de projetos
                tecnológicos.</p>
            <br>
            <div class="links">
                <a href="https://github.com/jessicamdsn" Target="_blank"><img src="../../../assets/logos/github.png"
                        alt="" width="50px"></a>
                <a href="https://www.linkedin.com/in/jessicamdsn/" Target="_blank"><img
                        src="../../../assets/logos/linkedin.png" alt="" width="50px"></a>
            </div>
        </div>
    </div>

</div>