.box-all{
    margin-top: -290px;
    background-image: url(../../../assets/back-removebg-preview.png);
    background-size: cover;
   height: 380px;

    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    z-index: 2;

}

.carrossel{
    margin-top: 15%;
}

.titulo-skill{
    color: #FF8BBC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;

   hr{
    width:39%;
    border-color: #FF8BBC;
   }
   h1{
    text-align: center;
   
    padding: 0px 1%;
   }
}
.img-logo{
    background-color: #231F20;
    padding: 15px 0px;
    width: 65%;
    border-radius: 18px;
    display: flex;
    justify-content: center;

}
.swiper2, .swiper3{
    display: none;
}
@media (max-width: 1280px){
    
    .titulo-skill{
       hr{
    width: 37%;
       }
       h1{
        font-size: 27px;
       }
    }
}
@media (max-width: 1000px){
    .carrossel{
        margin-top: 20%;
    }
    .swiper2{
        display: block;
        img{
            width: 60%;
        }
    }
    .swiper, .swiper3{
        display: none;
    }
   
    .titulo-skill{
        margin-bottom: 50px;
      
       hr{
        width:32%;
       }
       h1{
        font-size: 25px;
        
       }
    }
}
@media (max-width: 770px){
    .carrossel{
        margin-top: 25%;
    }
}
@media (max-width: 620px){
    .carrossel{
        margin-top: 32%;
    }
    .swiper3{
        display: block;
        img{
            width: 60%;
        }
    }
    .swiper2, .swiper{
        display: none;
    }
   
    .titulo-skill{
        hr{
     width: 22%;
        }
        h1{
         font-size: 22px;
        }
     }
}
@media (max-width: 480px){
    .carrossel{
        margin-top: 32%;
    }

    .box-all{
        margin-top: -200px;
       height: 300px;
    
    }
}
@media (max-width: 450px){

    .box-all{
        margin-top: -180px;
       height: 240px;
    
    }
}