.box-all{
    margin-top: -205px;
    background-image: url(../../../assets/back-removebg-preview.png);
    background-size: cover;
   height: 206px;

    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    z-index: 2;

}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    h1{
        font-weight: 300;
        width: 70%;
        text-align: center;
    }
    p{
        font-size: 32px;
        margin-top: 25px;
    }
    .countdown-part {
        color: #FF8BBC;
      }
}

@media (max-width: 1000px){
    .box-all{
        margin-top: -170px;
       height: 180px;
    }
    .box{
        margin-top: 19%;
        h1{
            width: 80%;
            font-size: 25px;
        }
        p{
            font-size: 28px;
            margin-top: 20px;
        }
    }
   
}
@media (max-width: 650px){
   

     .box{
        margin-top: 24%;
        h1{
            font-size: 22px;
        }
        p{
            font-size: 25px;
            margin-top: 40px;
        }
    }
}

