<div class="box-all">
    <div class="content">
        <div class="img-aside">
        <img src="../../../assets/img-ia.png" alt="" width="90%">
    </div>
    <div class="content-aside">
        <h1>E aí? bateu a curiosidade para conhecer meus projetos?</h1>
        <h3>Acesse meu github e veja todos eles:</h3>
        <a href="https://github.com/jessicamdsn" Target="_blank"><img src="../../../assets/logos/github.png" alt="" width="90px"></a>
        
    </div>
    </div>
    <div class="projetos">
    <h1>Mas deixa eu te dar alguns <span>spoilers</span>...</h1>    
    </div>
    
    

</div>