<div class="box">
    <div class="links">
        <a href="https://github.com/jessicamdsn" target="_blank">
            <img src="../../../assets/logos/github.png" alt="" width="50px">
        </a><a href="https://www.linkedin.com/in/jessicamdsn/" target="_blank">
        <img src="../../../assets/logos/linkedin.png" alt="" width="50px">
        </a>
    </div>
    <div>
        <footer class="footer">
            <p class="cop">&copy; Criação e design do site por <a href="https://github.com/jessicamdsn"
                    target="_blank">Jessica</a></p>
            <p class="small-text">Todas as imagens criadas no site foram geradas através da IA Copilot</p>
        </footer>
    </div>
</div>